{% extends 'base.html' %}

{% block content %}
<div class="pt-5 mt-5"> <!-- Added padding and margin to push the content down -->
    <form method="post" class="container mt-3">
        <!-- to secure form submissions -->
        {{ form.csrf_token }}
        <input type="text" name="make" placeholder="Make" required class="form-control mb-2">
        <input type="text" name="model" placeholder="Model" required class="form-control mb-2">
        <input type="number" name="year" placeholder="Year" required class="form-control mb-2">
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}
